@model IEnumerable<ControlCompras.Models.Marca>

<p>
    @Html.ActionLink("Create New", "Create", "Marcas")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        
    </tr>
}

</table>
